Repository dequelabs/axe-linter-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: replace sinon with node:test native mock API (#108)
  eslint.config.js
  package.json
  src/git.test.ts
  src/linter.test.ts
  src/run.test.ts
  src/test-utils.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: replace rimraf with built-in fs.rmSync
  package.json
  yarn.lock
Due: prettier --write

refactor: replace rimraf with built-in fs.rmSync (#109)
  package.json
  yarn.lock
Due: prettier --write

refactor: replace ts-node with native Node TypeScript support
  dist/index.js
  dist/package.json
  eslint.config.js
  node.config.json
  package.json
  src/git.test.ts
  src/index.ts
  src/linter.test.ts
  src/linter.ts
  src/run.test.ts
  src/run.ts
  src/utils.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

Disable specific TypeScript ESLint rules
  eslint.config.js
Due: prettier --write, eslint --fix

chore: remove husky
  .gitconfig
  bin/build.sh
  bin/use-tracked-config.sh
  package.json
  yarn.lock
Due: prettier --write

refactor: replace ts-node with native Node TypeScript support (#110)
  dist/index.js
  dist/package.json
  eslint.config.js
  node.config.json
  package.json
  src/git.test.ts
  src/index.ts
  src/linter.test.ts
  src/linter.ts
  src/run.test.ts
  src/run.ts
  src/utils.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

Update .gitconfig
  .gitconfig
Due: none

chore: convert to pnpm
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/tests.yml
  .prettierignore
  dist/index.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --write, eslint --fix

install undici
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix copilot failing
  .github/workflows/copilot-setup-steps.yml
Due: none

chore: remove husky (#113)
  .gitconfig
  bin/build.sh
  bin/use-tracked-config.sh
  package.json
  yarn.lock
Due: prettier --write

Replace yarn with pnpm for build command
  bin/build.sh
Due: none

chore: convert to pnpm (#114)
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/tests.yml
  .prettierignore
  bin/build.sh
  dist/index.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --write, eslint --fix

chore(dependabot): enable npm ecosystem
  .github/dependabot.yml
Due: none

update deps
  dist/index.js
  dist/licenses.txt
  package.json
  pnpm-lock.yaml
  src/linter.test.ts
  src/linter.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: handle proxies and retry transient lint errors
  dist/index.js
  src/index.ts
Due: prettier --write, eslint --fix

chore: enumerate retry status codes and add 408
  dist/index.js
  src/index.ts
Due: prettier --write, eslint --fix

chore(dependabot): ignore @types/node major updates
  .github/dependabot.yml
Due: none

feat: always enable proxy support (#115)
  .github/dependabot.yml
  dist/index.js
  dist/licenses.txt
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/linter.test.ts
  src/linter.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: paginate PR files and warn on 300+ pushed files
  dist/index.js
  src/git.test.ts
  src/git.ts
Due: prettier --write, eslint --fix

fix: warn only when push exceeds 300 files
  dist/index.js
  src/git.test.ts
  src/git.ts
Due: prettier --write, eslint --fix

fix: warn at API ceiling of 300 files
  dist/index.js
  src/git.test.ts
  src/git.ts
Due: prettier --write, eslint --fix

feat: lint all changed files on pull requests (#118)
  dist/index.js
  src/git.test.ts
  src/git.ts
Due: prettier --write, eslint --fix

ignore things
  .gitignore
Due: none

feat: support tag events
  dist/index.js
  src/git.test.ts
  src/git.ts
Due: prettier --write, eslint --fix

feat: support tag events
  .gitignore
Due: none

fix: lower file size limit to 900,000 bytes to match API cap
  README.md
  src/linter.test.ts
  src/linter.ts
Due: prettier --write, eslint --fix

fix: lower file size limit to 900,000 bytes to match API cap (#121)
  README.md
  src/linter.test.ts
  src/linter.ts
Due: prettier --write, eslint --fix

chore: rebuild dist
  dist/index.js
Due: prettier --write, eslint --fix

build: rebuild `dist` based on code api limitations (#122)
  dist/index.js
Due: prettier --write, eslint --fix

chore: disable dependabot rebase strategy
  .github/dependabot.yml
Due: none

chore: disable dependabot rebase strategy (#125)
  .github/dependabot.yml
Due: none

docs: change mentions to v1 to v1.3.0 in the readme file
  README.md
Due: prettier --write

update build
  dist/index.js
Due: prettier --write, eslint --fix

chore(release): 2.0.0
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

docs: refine v2 release notes and README pinning example
  CHANGELOG.md
  README.md
Due: prettier --write

docs: scope the contents:read comment to the example's trigger
  README.md
Due: prettier --write

docs: clarify each pinned action's SHA comes from its own source
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,json,js,ts,html}) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
