Repository dequelabs/axe-linter-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{md,json,js,ts,html}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"]
}

fix: revert URL construction to preserve customer path prefixes
  dist/index.js
  src/linter.ts
Due: prettier --write, eslint --fix

feat: add self-test workflow and liquid file support (#95)
  .github/workflows/self-test.yml
  .gitignore
  dist/index.js
  eslint.config.js
  fixtures/accessible.esm
  fixtures/accessible.htm
  fixtures/accessible.html
  fixtures/accessible.js
  fixtures/accessible.jsx
  fixtures/accessible.liquid
  fixtures/accessible.markdown
  fixtures/accessible.md
  fixtures/accessible.tsx
  fixtures/accessible.vue
  src/git.test.ts
  src/git.ts
  src/linter.ts
  src/run.test.ts
  src/run.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: pin GitHub Actions to full-length commit SHAs
  .github/workflows/tests.yml
  .github/workflows/yml-checker.yml
  dist/index.js
Due: prettier --write, eslint --fix

chore: pin GitHub Actions to full-length commit SHAs (#96)
  .github/workflows/tests.yml
  .github/workflows/yml-checker.yml
  dist/index.js
Due: prettier --write, eslint --fix

docs: remove github token from examples
  README.md
Due: prettier --write

refactor: replace minimatch with native path.extname
  dist/index.js
  dist/licenses.txt
  package.json
  src/git.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: exclude dotfiles and dot-directories to match minimatch behavior
  dist/index.js
  src/git.ts
Due: prettier --write, eslint --fix

test: add assertions for dotfile and dot-directory exclusion
  src/git.test.ts
Due: prettier --write, eslint --fix

add debug log
  dist/index.js
  src/linter.ts
Due: prettier --write, eslint --fix

add body to debug
  dist/index.js
  src/linter.ts
Due: prettier --write, eslint --fix

refactor: replace js-yaml with yaml
  dist/index.js
  dist/licenses.txt
  package.json
  src/run.test.ts
  src/run.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: replace testing dependencies with Node native test runner
  .c8rc.json
  .mocharc.json
  dist/index.js
  eslint.config.js
  package.json
  src/git.test.ts
  src/index.ts
  src/linter.test.ts
  src/linter.ts
  src/run.test.ts
  src/run.ts
  src/utils.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: update tsconfig target to esnext
  dist/index.js
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: replace chai with node:assert/strict
  package.json
  src/git.test.ts
  src/linter.test.ts
  src/run.test.ts
  src/utils.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: replace nock with undici for HTTP request mocking
  dist/index.js
  package.json
  src/linter.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: remove undici from dependencies to avoid dist bloat
  dist/index.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor: remove ts-node in favor of Node 24 native TypeScript
  .mocharc.json
  dist/index.js
  dist/package.json
  eslint.config.cjs
  package.json
  src/git.test.ts
  src/index.ts
  src/linter.test.ts
  src/linter.ts
  src/run.test.ts
  src/run.ts
  src/utils.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: gitignore redundant dist/package.json from ncc
  .gitignore
  dist/package.json
Due: prettier --write

refactor: replace mocha with node:test runner
  .mocharc.json
  eslint.config.js
  package.json
  src/git.test.ts
  src/linter.test.ts
  src/run.test.ts
  src/utils.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: replace minimatch with native path.extname (#98)
  dist/index.js
  dist/licenses.txt
  package.json
  src/git.test.ts
  src/git.ts
  src/linter.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: replace c8 with node's native test coverage
  .c8rc.json
  .github/workflows/tests.yml
  .gitignore
  node.config.json
  package.json
  yarn.lock
Due: prettier --write

refactor: replace sinon with node:test native mock API
  package.json
  src/git.test.ts
  src/linter.test.ts
  src/run.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: replace rimraf with built-in fs.rmSync
  package.json
  yarn.lock
Due: prettier --write

refactor: replace ts-node with native Node TypeScript support
  dist/index.js
  dist/package.json
  eslint.config.js
  node.config.json
  package.json
  src/git.test.ts
  src/index.ts
  src/linter.test.ts
  src/linter.ts
  src/run.test.ts
  src/run.ts
  src/utils.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

remove addition to pre-commit
  .husky/pre-commit
Due: none

remove newline
  .husky/pre-commit
Due: none

refactor: replace js-yaml with yaml (#100)
  dist/index.js
  dist/licenses.txt
  package.json
  src/run.test.ts
  src/run.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: remove Chai-only notInclude assertions from git.test.ts
  src/git.test.ts
Due: prettier --write, eslint --fix

remove chai types
  package.json
  yarn.lock
Due: prettier --write

refactor: replace chai with node:assert/strict (#103)
  dist/index.js
  package.json
  src/git.test.ts
  src/linter.test.ts
  src/run.test.ts
  src/utils.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: restore global dispatcher after each test
  src/linter.test.ts
Due: prettier --write, eslint --fix

refactor: replace nock with undici (#104)
  package.json
  src/git.test.ts
  src/linter.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: skip files exceeding 900 MB to avoid 413 errors
  README.md
  dist/index.js
  src/linter.test.ts
  src/linter.ts
Due: prettier --write, eslint --fix

refactor: derive file size limit message from MAX_FILE_SIZE_BYTES
  dist/index.js
  src/linter.test.ts
  src/linter.ts
Due: prettier --write, eslint --fix

fix: skip files exceeding 900 MB to avoid 413 errors (#111)
  README.md
  dist/index.js
  src/linter.test.ts
  src/linter.ts
Due: prettier --write, eslint --fix

refactor: replace c8 with node's native test coverage (#107)
  .c8rc.json
  .github/workflows/tests.yml
  .gitignore
  .mocharc.json
  eslint.config.js
  node.config.json
  package.json
  src/git.test.ts
  src/linter.test.ts
  src/run.test.ts
  src/utils.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: add copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Due: none

Change cache from 'pnpm' to 'yarn' in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Update concurrency group format in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

chore: add copilot setup steps (#112)
  .github/workflows/copilot-setup-steps.yml
Due: none
