Repository dequelabs/axe-linter-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{md,json,js,ts,html}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"]
}

print out body when a http error occurs
  dist/index.js
  src/linter.ts
Due: prettier --write, eslint --fix

feat: use pagination to get all files
  src/git.test.ts
  src/git.ts
Due: prettier --write, eslint --fix

refactor: remove pagination for comparing commits
  src/git.test.ts
  src/git.ts
Due: prettier --write, eslint --fix

chore(release): 1.2.0
  CHANGELOG.md
  dist/index.js
  package.json
Due: prettier --write, eslint --fix

chore: release v1.2.0
  CHANGELOG.md
Due: prettier --write

ci: automate creating release PRs
  .github/workflows/create-release-pr.yml
  dist/index.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

ci(dependabot): use cooldown delay recent updates
  .github/dependabot.yml
Due: none

ci(dependabot): use cooldown delay recent updates (#78)
  .github/dependabot.yml
Due: none

feat: add links to GH annotations
  dist/index.js
  src/linter.ts
  src/types.ts
Due: prettier --write, eslint --fix

new line for helpurl
  dist/index.js
  src/linter.ts
Due: prettier --write, eslint --fix

fix newline
  dist/index.js
  src/linter.ts
Due: prettier --write, eslint --fix

add test
  src/linter.test.ts
Due: prettier --write, eslint --fix

feat: add links to GH annotations (#82)
  dist/index.js
  src/linter.test.ts
  src/linter.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: allow users to change errors to warning
  dist/index.js
  src/linter.ts
Due: prettier --write, eslint --fix

do not set failed
  dist/index.js
  src/run.ts
Due: prettier --write, eslint --fix

feat: allow users to change error to warning
  action.yml
  dist/index.js
  src/linter.test.ts
  src/linter.ts
  src/run.test.ts
  src/run.ts
  src/types.ts
Due: prettier --write, eslint --fix

Update action.yml
  action.yml
Due: none

ci: update node to v24
  .github/workflows/tests.yml
  .github/workflows/yml-checker.yml
  .nvmrc
  action.yml
Due: none

fix nvmrc
  .github/workflows/tests.yml
  .github/workflows/yml-checker.yml
Due: none

chore(Doc): Add exemple with private repository.
  .gitignore
  README.md
Due: prettier --write

feat: update node to v24 (#88)
  .github/workflows/tests.yml
  .github/workflows/yml-checker.yml
  .nvmrc
  action.yml
Due: none

docs: add permissions section (#90)
  .gitignore
  README.md
Due: prettier --write

refactor: replace node-fetch with native fetch
  dist/index.js
  dist/licenses.txt
  package.json
  src/linter.test.ts
  src/linter.ts
  yarn.lock
Due: prettier --write, eslint --fix

Change license from UNLICENSED to MPL-2.0
  package.json
Due: prettier --write

refactor: replace node-fetch with native fetch (#94)
  dist/index.js
  dist/licenses.txt
  package.json
  src/linter.test.ts
  src/linter.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: add self-test workflow with fixtures for all supported file types
  .github/workflows/self-test.yml
  .gitignore
  dist/index.js
  eslint.config.js
  fixtures/accessible.esm
  fixtures/accessible.htm
  fixtures/accessible.html
  fixtures/accessible.js
  fixtures/accessible.jsx
  fixtures/accessible.liquid
  fixtures/accessible.markdown
  fixtures/accessible.md
  fixtures/accessible.tsx
  fixtures/accessible.vue
  src/git.test.ts
  src/git.ts
  src/run.test.ts
  src/run.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: only ignore .claude/worktrees in gitignore
  .gitignore
  dist/index.js
Due: prettier --write, eslint --fix

fix: exclude dist from linting via axe-linter.yml
  axe-linter.yml
Due: none

fix: handle CRLF and whitespace in AXE_LINTER_INCLUDE patterns
  dist/index.js
  src/run.ts
Due: prettier --write, eslint --fix

Add debug log
  dist/index.js
  src/linter.ts
Due: prettier --write, eslint --fix

refactor: replace AXE_LINTER_INCLUDE with AXE_LINTER_ONLY override
  .github/workflows/self-test.yml
  axe-linter.yml
  dist/index.js
  src/run.test.ts
  src/run.ts
Due: prettier --write, eslint --fix

fix: filter directories from globSync results in AXE_LINTER_ONLY
  dist/index.js
  src/run.test.ts
  src/run.ts
Due: prettier --write, eslint --fix

expand debug logs
  dist/index.js
  src/linter.ts
  tsconfig.json
Due: prettier --write, eslint --fix

group debug strings
  dist/index.js
  src/linter.ts
Due: prettier --write, eslint --fix

move url to vars
  .github/workflows/self-test.yml
  dist/index.js
  src/linter.ts
Due: prettier --write, eslint --fix

correct environment capitalization
  .github/workflows/self-test.yml
  dist/index.js
Due: prettier --write, eslint --fix

rename secret
  .github/workflows/self-test.yml
Due: none

reset target
  dist/index.js
  tsconfig.json
Due: prettier --write, eslint --fix

Potential fix for pull request finding
  src/linter.ts
Due: prettier --write, eslint --fix
